/* Declare variables for theme */
:root {
  --background-color: black;
  --highlight-color: #bfa975;
  --section-header-color: white;
  --text-color: white;
  --header-color: #5b63b7;
  --footer-color: #2a272a;
  --timeline-point-color: #a883ba;
  --timeline-date-color: #00c9c8;
  --timeline-color: #2882bf;
  --timeline-seperator-color: white;
  --icon-text-color: lightskyblue;
  --header-link-color: linear-gradient(
    55deg,
    #009de4 0%,
    #00cfe6 51%,
    #6afbcf 85%
  );
  --striking-color: linear-gradient(
    55deg,
    #5a3e51 0%,
    #a883ba 51%,
    #d9daff 85%
  );
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  /* background-image: url("../images/feather.jpg");
  background-repeat: no-repeat; */
}

body {
  margin: 0;
}

.header {
  justify-content: center;
  width: 100%;
}

.header-middle {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--header-color);
  z-index: 10;
}

.nav-link {
  /* background: linear-gradient(55deg, #c525aa 0%, #a154e9 51%, #3dc3f3 85%); */
  background: var(--header-link-color);
  background-clip: text;
  margin-left: 10px;
  color: transparent;
}

.nav-link:hover,
.nav-link:active {
  background: #6afbcf;
  background-clip: text;
  color: transparent;
}

.home {
  margin-top: 20%;
  margin-bottom: 50%;
}

.title > h1,
.title > h6 {
  text-align: center;
  background: var(--striking-color);
  background-clip: text;
  color: transparent;
}

.title > h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.title > h6 {
  font-size: 16px;
}

.myphoto {
  width: 500px;
  height: 500px;
  justify-self: center;
  z-index: 2;
}

.photo-highlight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: auto;
  height: auto;
}

.photo-highlight:before,
.photo-highlight:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: var(--highlight-color);
  z-index: 1;
  filter: blur(40px);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about > p {
  margin-top: 5%;
  width: 60%;
  color: var(--text-color);
  font-size: large;
}

.projects-overall-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.project-container + .project-container {
  margin-top: 10%;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10%; */
}

.image-container {
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.image-container .coding-img {
  width: 350px;
  height: auto;
}

.project-details {
  max-width: 450px;
  width: 40%;
  text-align: center;
}

.project-header {
  color: var(--text-color);
}

.project-details > p {
  color: var(--text-color);
  text-align: justify;
}

.software-container {
  display: flex;
  justify-content: space-evenly;
}

.icon-link {
  display: flex;
  flex-direction: column;
  color: var(--icon-text-color);
  background-color: var(--background-color);
  text-decoration: none;
  text-align: center;
}

.icon {
  color: var(--text-color);
  -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.software-container > li {
  list-style: none;
}

.image-icon {
  height: 30px;
  width: 30px;
  align-self: center;
  margin-bottom: 3px;
}

.nus-icon {
  width: 25px;
  height: 30px;
}

.section-header {
  text-align: center;
  margin-top: 30px;
}

.section-header h1 {
  font-size: 50px;
  color: var(--text-color);
}

.timeline ul {
  border-left: 4px solid var(--timeline-color);
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.3;
  color: var(--text-color);
}

.timeline h5 {
  opacity: 0.4;
  color: var(--text-color);
}

.timeline li:hover h1,
.timeline li:hover h5,
.timeline li:hover p {
  opacity: 1;
  color: var(--highlight-color);
}

.timeline .date {
  border-bottom: 1px solid var(--timeline-seperator-color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  color: var(--text-color);
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
}

.timeline .date::after {
  content: "";
  content: "";
  box-shadow: var(--timeline-point-color);
  background-color: var(--timeline-point-color);
  border-radius: 100%;
  left: -5.8rem;
  height: 1.5rem;
  width: 1.5rem;
}

.timeline p {
  color: var(--text-color);
  justify-content: justify;
}

.contact-container p {
  color: var(--text-color);
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.github-icon {
  margin-bottom: 5px;
}

.footer {
  display: flex;
  margin-top: 10%;
  height: 20px;
  width: 100%;
  background-color: var(--footer-color);
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}

.about-title {
  margin-bottom: 40px;
}
